---
import { Image } from 'astro:assets';
import figma from "../assets/images/figma.svg"
import illustrator from "../assets/images/illustrator.svg"
import photoshop from "../assets/images/photoshop.svg"
import premiere from "../assets/images/premiere.svg"
import vscode from "../assets/images/vscode.svg"
import starFill from "../assets/images/starFill.svg"
import NoStar from "../assets/images/NoFill.svg"
---

<div class="  mt-12 lg:mt-8 ml-4 lg:ml-6 flex flex-col md:flex-row gap-[40px] mb-5">

     <div class="bounce1 flex flex-row gap-[30px]   lg:transition-all lg:ease-in-out hover:scale-105">       
         <Image class=" h-full w-[50px]  lg:w-[100px] clickable"  src={figma} alt="figma ikon"/>
         <Image class="pc-hide w-[50px]  spin " src={starFill} alt="star "/>
         <Image class="pc-hide w-[50px] spin1" src={starFill} alt="star "/>
         <Image class="pc-hide w-[50px] spin2" src={starFill} alt="star "/>
         <Image class="pc-hide w-[50px] spin3" src={starFill} alt="star "/>
         <Image class="pc-hide w-[50px] spin4" src={NoStar} alt="star not "/>
    </div>

  
    
       <div class=" bounce2 flex flex-row gap-[30px]  transition-all ease-in-out hover:scale-105"> 
        <Image class="h-full w-[50px] lg:w-[100px] clickable  transition-all ease-in-out hover:scale-105" src={illustrator} alt="illustrator ikon"/>
        <Image class="pc-hide w-[50px] spin5" src={starFill} alt="star "/>
        <Image class="pc-hide w-[50px] spin6" src={starFill} alt="star "/>
        <Image class="pc-hide w-[50px] spin7" src={starFill} alt="star "/>
        <Image class="pc-hide w-[50px] spin8" src={starFill} alt="star "/>
        <Image class="pc-hide w-[50px] spin9" src={NoStar} alt="star not "/>
    </div>
       

<div class="bounce3 flex flex-row gap-[30px]   transition-all ease-in-out hover:scale-105">
            <Image class="h-full w-[50px] lg:w-[100px] clickable  transition-all ease-in-out hover:scale-105" src={photoshop} alt="photoshop ikon"/>
            <Image class="pc-hide w-[50px] spin10" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin11" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin12" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin13" src={NoStar} alt="star not "/>
            <Image class="pc-hide w-[50px] spin14" src={NoStar} alt="star not "/>
    
</div> 
<div class="bounce4 flex flex-row gap-[30px]   transition-all ease-in-out hover:scale-105">
            <Image class="h-full w-[50px] lg:w-[100px] clickable transition-all ease-in-out hover:scale-105" src={vscode} alt="vscode ikon"/>
            <Image class="pc-hide w-[50px] spin15" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin16" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin17" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin18" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin19" src={NoStar} alt="star not "/>
    
</div>  

<div class="bounce5 flex flex-row gap-[30px]   transition-all ease-in-out hover:scale-105">
            <Image class="h-full w-[50px] lg:w-[100px] clickable transition-all ease-in-out hover:scale-105" src={premiere} alt="premiere pro ikon"/>
            <Image class="pc-hide w-[50px] spin20" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin21" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin22" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin23" src={NoStar} alt="star not "/>
            <Image class="pc-hide w-[50px] spin24" src={NoStar} alt="star not "/>
    
</div>
        
</div>

<!-- <style>

.bouncing-box {
    animation: bouncePause 10s infinite; /* Total cycle: 1s bounce + 9s pause */
}

/* Define the keyframes */
@keyframes bouncePause {
    0% {
        transform: translateY(0);
    }
    15% { /* Bounce up */
        transform: translateY(-30px);
    }
    16% { /* Fall back down */
        transform: translateY(0);
    }
    100% {
        transform: translateY(0); /* Stay still for the rest of the time */
    }
}

.spin {

    animation: spin 12s infinite; /* Total cycle: 2s rotate + 10s pause */
}

/* Define the keyframes */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    16% { /* 2 seconds out of 12 = 16.67% */
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg); /* Stay still for the rest of the time */
    }
}

</style> -->

<script>
	import { inView } from "motion";

	const inviewelement = document.querySelector(".spin");
	inView(
		inviewelement , () => {
			inviewelement.classList.add("animate-animated", "animate__rotateIn", "animate__delay-2s")
		})
   
        const inviewelement1 = document.querySelector(".spin1");
	inView(
		inviewelement1 , () => {
			inviewelement1.classList.add("animate-animated", "animate__rotateIn", "animate__delay-2s")
		})

        const inviewelement2 = document.querySelector(".spin2");
	inView(
		inviewelement2 , () => {
			inviewelement2.classList.add("animate-animated", "animate__rotateIn", "animate__delay-2s")
		})

        const inviewelement3 = document.querySelector(".spin3");
	inView(
		inviewelement3 , () => {
			inviewelement3.classList.add("animate-animated", "animate__rotateIn", "animate__delay-2s")
		})

        const inviewelement4 = document.querySelector(".spin4");
	inView(
		inviewelement4 , () => {
			inviewelement4.classList.add("animate-animated", "animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement5 = document.querySelector(".spin5");
	inView(
		inviewelement5 , () => {
			inviewelement5.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement6 = document.querySelector(".spin6");
	inView(
		inviewelement6 , () => {
			inviewelement6.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement7 = document.querySelector(".spin7");
	inView(
		inviewelement7 , () => {
			inviewelement7.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement8 = document.querySelector(".spin8");
	inView(
		inviewelement8 , () => {
			inviewelement8.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement9 = document.querySelector(".spin9");
	inView(
		inviewelement9 , () => {
			inviewelement9.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement10 = document.querySelector(".spin10");
	inView(
		inviewelement10 , () => {
			inviewelement10.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement11 = document.querySelector(".spin11");
	inView(
		inviewelement11 , () => {
			inviewelement11.classList.add("animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement12 = document.querySelector(".spin12");
	inView(
		inviewelement12 , () => {
			inviewelement12.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})

        const inviewelement13 = document.querySelector(".spin13");
	inView(
		inviewelement13 , () => {
			inviewelement13.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})

        const inviewelement14 = document.querySelector(".spin14");
	inView(
		inviewelement14 , () => {
			inviewelement14.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})

        const inviewelement15 = document.querySelector(".spin15");
	inView(
		inviewelement15 , () => {
			inviewelement15.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})

        const inviewelement16 = document.querySelector(".spin16");
	inView(
		inviewelement16 , () => {
			inviewelement16.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement17 = document.querySelector(".spin17");
	inView(
		inviewelement17 , () => {
			inviewelement17.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement18 = document.querySelector(".spin18");
	inView(
		inviewelement18 , () => {
			inviewelement18.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement19 = document.querySelector(".spin19");
	inView(
		inviewelement19 , () => {
			inviewelement19.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement20 = document.querySelector(".spin20");
	inView(
		inviewelement20 , () => {
			inviewelement20.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement21 = document.querySelector(".spin21");
	inView(
		inviewelement21 , () => {
			inviewelement21.classList.add("animate-animated", "animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement22 = document.querySelector(".spin22");
	inView(
		inviewelement22 , () => {
			inviewelement22.classList.add("animate-animated", "animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement23 = document.querySelector(".spin23");
	inView(
		inviewelement23 , () => {
			inviewelement23.classList.add("animate-animated", "animate__rotateIn", "animate__delay-2s")
		})
        const inviewelement24 = document.querySelector(".spin24");
	inView(
		inviewelement24 , () => {
			inviewelement24.classList.add("animate-animated","animate__rotateIn", "animate__delay-2s")
		}) 
        const bounceElements = document.querySelectorAll(".bounce");
// bounceElements.forEach(element => {
//   inView(
//     element, () => {
//       element.classList.add("animate-animated", "animate__bounceIn", "animate__delay-2s");
//     }
//   );
// });


    
const inviewelement25 = document.querySelector(".bounce1");
inView(
inviewelement25 , () => {
    inviewelement25.classList.add("animate-animated", "animate__bounceIn", "animate__delay-1s")
})
const inviewelement26 = document.querySelector(".bounce2");
inView(
inviewelement26 , () => {
    inviewelement26.classList.add("animate-animated", "animate__bounceIn", "animate__delay-2s")
})
const inviewelement27 = document.querySelector(".bounce3");
inView(
inviewelement27 , () => {
    inviewelement27.classList.add("animate-animated", "animate__bounceIn", "animate__delay-3s")
})
const inviewelement28 = document.querySelector(".bounce4");
inView(
inviewelement28 , () => {
    inviewelement28.classList.add("animate-animated", "animate__bounceIn", "animate__delay-4s")
})
const inviewelement29 = document.querySelector(".bounce4");
inView(
inviewelement29 , () => {
    inviewelement29.classList.add("animate-animated", "animate__bounceIn", "animate__delay-5s")
})


    //     const inviewelement25 = document.querySelector(".bounce");
	// inView(
	// 	inviewelement25 , () => {
	// 		inviewelement25.classList.add("bounce-bottom", "animate__delay-2s")
	// 	})

    //     const inviewelement26 = document.querySelector(".bounce1");
	// inView(
	// 	inviewelement26 , () => {
	// 		inviewelement26.classList.add("bounce-bottom", "animate__delay-1s")
	// 	})
    //     const inviewelement27 = document.querySelector(".bounce2");
	// inView(
	// 	inviewelement27 , () => {
	// 		inviewelement27.classList.add("bounce-bottom", "animate__delay-1s")
	// 	})
    //     const inviewelement28 = document.querySelector(".bounce3");
	// inView(
	// 	inviewelement28 , () => {
	// 		inviewelement28.classList.add("bounce-bottom", "animate__delay-1s")
	// 	})
    //     const inviewelement29 = document.querySelector(".bounce4");
	// inView(
	// 	inviewelement29 , () => {
	// 		inviewelement29.classList.add("bounce-bottom", "animate__delay-1s")
	// 	})
        
</script>

<!-- <style>
.animate__rotateIn {
	-webkit-animation: animate__rotateIn 1s linear 2s forwards;
	        animation: animate__rotateIn 1s linear 2s forwards;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-10-10 14:16:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation animate__rotateIn
 * ----------------------------------------
 */
 @-webkit-keyframes animate__rotateIn {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes animate__rotateIn {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.bounce-bottom {
	-webkit-animation: bounce-bottom 0.9s both;
	        animation: bounce-bottom 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-10 14:35:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}


</style> -->


<!-- 
<script>
    import { animate, inView } from "@motionone/dom";
    
    // Animate each star element
    const spinElements = document.querySelectorAll(".spin");
    
    spinElements.forEach((element, index) => {
      // Trigger animation when element enters viewport
      inView(element, () => {
        // Rotation animation using Motion One
        animate(element, { rotate: 360 }, { duration: 1, delay: index * 0.2, easing: "ease-in-out" });
      });
    });
    
    // Bounce effect on parent container
    const bounceElements = document.querySelectorAll(".bounce");
    
    bounceElements.forEach((element) => {
      inView(element, () => {
        // Bounce animation when in view
        animate(element, { translateY: [45, 0] }, { duration: 0.9, easing: "ease-in-out" });
      });
    });
    </script> -->
    
  