---
import { Image } from 'astro:assets';
import figma from "../assets/images/figma.svg"
import illustrator from "../assets/images/illustrator.svg"
import photoshop from "../assets/images/photoshop.svg"
import premiere from "../assets/images/premiere.svg"
import vscode from "../assets/images/vscode.svg"
import starFill from "../assets/images/starFill.svg"
import NoStar from "../assets/images/NoFill.svg"
---

<div class="bounce mt-12 lg:mt-8 ml-4 lg:ml-6 flex flex-col lg:flex-row gap-[40px] mb-5">

     <div class="flex flex-row gap-[30px]  lg:transition-all lg:ease-in-out hover:scale-105">       
         <Image class=" h-full w-[50px]  lg:w-[100px]"  src={figma} alt="figma ikon"/>
         <Image class="pc-hide w-[50px] spin " src={starFill} alt="star "/>
         <Image class="pc-hide w-[50px] spin1" src={starFill} alt="star "/>
         <Image class="pc-hide w-[50px] spin2" src={starFill} alt="star "/>
         <Image class="pc-hide w-[50px] spin3" src={starFill} alt="star "/>
         <Image class="pc-hide w-[50px] spin4" src={NoStar} alt="star not "/>
    </div>

  
    
       <div class="flex flex-row gap-[30px]  transition-all ease-in-out hover:scale-105"> 
        <Image class="h-full w-[50px] lg:w-[100px]  transition-all ease-in-out hover:scale-105" src={illustrator} alt="illustrator ikon"/>
        <Image class="pc-hide w-[50px] spin5" src={starFill} alt="star "/>
        <Image class="pc-hide w-[50px] spin6" src={starFill} alt="star "/>
        <Image class="pc-hide w-[50px] spin7" src={starFill} alt="star "/>
        <Image class="pc-hide w-[50px] spin8" src={starFill} alt="star "/>
        <Image class="pc-hide w-[50px] spin9" src={NoStar} alt="star not "/>
    </div>
       

<div class="flex flex-row gap-[30px]  transition-all ease-in-out hover:scale-105">
            <Image class="h-full w-[50px] lg:w-[100px]  transition-all ease-in-out hover:scale-105" src={photoshop} alt="photoshop ikon"/>
            <Image class="pc-hide w-[50px] spin10" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin11" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin12" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin13" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin14" src={NoStar} alt="star not "/>
    
</div> 
<div class="flex flex-row gap-[30px]  transition-all ease-in-out hover:scale-105">
            <Image class="h-full w-[50px] lg:w-[100px]  transition-all ease-in-out hover:scale-105" src={vscode} alt="vscode ikon"/>
            <Image class="pc-hide w-[50px] spin15" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin16" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin17" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin18" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin19" src={NoStar} alt="star not "/>
    
</div>  

<div class="flex flex-row gap-[30px]  transition-all ease-in-out hover:scale-105">
            <Image class="h-full w-[50px] lg:w-[100px]  transition-all ease-in-out hover:scale-105" src={premiere} alt="premiere pro ikon"/>
            <Image class="pc-hide w-[50px] spin20" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin21" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin22" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin23" src={starFill} alt="star "/>
            <Image class="pc-hide w-[50px] spin24" src={NoStar} alt="star not "/>
    
</div>
        
</div>

<script>
    document.querySelectorAll('.spin').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin1').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin2').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin3').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin4').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin5').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin6').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin7').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin8').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin9').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin10').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin11').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin12').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin13').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin14').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin15').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin16').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin17').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin18').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin19').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin20').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin21').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin22').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin23').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.spin24').forEach((el) => {
        inView(el, () => {
            el.classList.add('rotate-center', 'animate__delay-2s');
        });
    });

    document.querySelectorAll('.bounce').forEach((el) => {
        inView(el, () => {
            el.classList.add('bounce-bottom', 'animate__delay-2s');
        });
    });
</script>


<style>
.rotate-center {
	-webkit-animation: rotate-center 1s linear 2s forwards;
	        animation: rotate-center 1s linear 2s forwards;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-10-10 14:16:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.bounce-bottom {
	-webkit-animation: bounce-bottom 0.9s both;
	        animation: bounce-bottom 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-10 14:35:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}


</style>

