---
import { Image } from 'astro:assets';
import figma from "../assets/images/figma.svg"
import illustrator from "../assets/images/illustrator.svg"
import photoshop from "../assets/images/photoshop.svg"
import premiere from "../assets/images/premiere.svg"
import vscode from "../assets/images/vscode.svg"
import starFill from "../assets/images/star.svg"
import NoStar from "../assets/images/nostar.svg"
---

<div class="container mt-10 lg:ml-12 lg:mt-28 flex flex-row gap-[30px] w-[300px]">
    
        <Image class=" w-[300px] transition-all ease-in-out hover:scale-105"  src={figma} alt="figma ikon"/>

  
    
        <Image class=" w-[300px] transition-all ease-in-out hover:scale-105" src={illustrator} alt="illustrator ikon"/>
       

        <Image class=" w-[300px] transition-all ease-in-out hover:scale-105" src={photoshop} alt="photoshop ikon"/>
 
        <Image class=" w-[300px] transition-all ease-in-out hover:scale-105" src={vscode} alt="vscode ikon"/>
  

        <Image class=" w-[300px] transition-all ease-in-out hover:scale-105" src={premiere} alt="premiere pro ikon"/>

        
</div>

